<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Some Website</title>
</head>

<body>
  {{> header}}
  <p>The website is being repaired. Please visit later.</p>
  <p>Thankyou for your paitence.</p>
  
  {{> footer}}
</body>

</html>
